<?xml version="1.0"?>
<!-- routes.xml for Practise_Deffer module -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="deffer" frontName="deffer">
            <module name="Practise_Deffer" />
        </route>
    </router>
</config>
